@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;
500;
700&display=swap');
 .collection_text {
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 36px;
	 line-height: 43px;
	 color: #fff;
}
 .view_collection_text {
	 font-family: Minion Pro;
	 margin-top: 20px;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 24px;
	 line-height: 29px;
	 color: #000;
	 background-color: white;
	 border-radius: 8px;
	 text-decoration: none;
	 padding: 10px 50px 10px 50px;
	 border: none;
}
 .service_text {
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 18px;
	 display: inline-block;
	 vertical-align: middle;
	 line-height: normal;
	 color: #fff;
}
 .our_services_text {
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 24px;
	 line-height: 0px;
	 color: #fff;
	 text-align: center;
}
 .text {
	 font-family: Montserrat;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 14px;
	 line-height: 17px;
	 text-align: center;
	 margin-top: 2%;
	 color: #fff;
}
 .text1 {
	 font-family: Montserrat;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 14px;
	 line-height: 17px;
	 text-align: center;
	 margin-bottom: 5%;
	 color: #fff;
}
 .menu_text {
	 text-decoration: none;
	 margin-right: 60px;
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 18px;
	 line-height: 22px;
	 color: #f3e900;
}
 .logo_text {
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 18px;
	 line-height: 22px;
	 color: #f3e900;
}
 .search_text {
	 margin-right: 15px;
}
 .sale_text {
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 24px;
	 line-height: 0px;
	 text-align: center;
	 color: #fff;
}
 .offer_text {
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 16px;
	 line-height: 10px;
	 color: #fff;
}
 .offer_text1 {
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 16px;
	 line-height: 10px;
	 color: #fff;
	 text-align: center;
}
 .client1_name {
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: normal;
	 font-size: 24px;
	 line-height: 20px;
	 color: #fff;
}
 .client1_text {
	 font-family: Montserrat;
	 font-style: normal;
	 font-weight: 300;
	 font-size: 18px;
	 line-height: 10px;
	 color: #fff;
}
 .client1_desc {
	 font-family: Montserrat;
	 font-style: normal;
	 font-weight: 300;
	 font-size: 16px;
	 line-height: 22px;
	 color: #fff;
	 margin-top: 20px;
}
 .date {
	 font-family: Montserrat;
	 font-style: normal;
	 font-weight: 300;
	 font-size: 18px;
	 line-height: 22px;
	 color: #fff;
	 margin-top: 20px;
}
 .see_all {
	 font-family: Montserrat;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 18px;
	 line-height: 22px;
	 color: #fff;
	 margin-top: 30px;
}
 .addTestmonial {
	 font-family: Montserrat;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 18px;
	 line-height: 22px;
	 text-align: right;
	 margin-top: 30px;
	 color: #fff;
}
 .text2 {
	 font-family: Montserrat;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 14px;
	 line-height: 36px;
	 text-align: center;
	 color: #fff;
}
 .expert_name {
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 24px;
	 line-height: 29px;
	 text-align: center;
	 color: #fff;
}
 .professional_name {
	 font-family: Montserrat;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 14px;
	 line-height: 17px;
	 text-align: center;
	 color: #fff;
}
 .expert_text {
	 font-family: Montserrat;
	 font-style: normal;
	 font-weight: 500;
	 font-size: 18px;
	 line-height: 22px;
	 color: #fff;
	 text-align: left;
}
 .footer_heading {
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: normal;
	 font-size: 20px;
	 line-height: 10px;
	 color: #fff;
}
 .footer_para {
	 font-family: Minion Pro;
	 font-style: normal;
	 font-weight: normal;
	 font-size: 14px;
	 line-height: 12px;
	 color: #fff;
}
 .see_all1 {
	 font-family: Montserrat;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 18px;
	 line-height: 22px;
	 margin-top: 5%;
	 color: #fff;
}
 @media screen and (max-width: 480px) {
	 .menu_text {
		 text-decoration: none;
		 margin-right: 20px;
		 font-family: Minion Pro;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 14px;
		 line-height: 22px;
		 color: #f3e900;
	}
	 .search_text {
		 margin-right: 15px;
	}
	 .collection_text {
		 font-family: Minion Pro;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 25px;
		 line-height: 23px;
		 text-align: center;
		 margin-top: 10%;
		 color: #fff;
	}
	 .view_collection_text {
		 font-family: Minion Pro;
		 margin-top: 20px;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 18px;
		 line-height: 29px;
		 color: #000;
		 background-color: white;
		 border-radius: 8px;
		 text-decoration: none;
		 padding: 10px 30px 10px 30px;
		 border: none;
	}
	 .text {
		 font-family: Montserrat;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 14px;
		 line-height: 23px;
		 text-align: center;
		 margin-top: 2%;
		 color: #fff;
	}
	 .text1 {
		 font-family: Montserrat;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 14px;
		 line-height: 23px;
		 text-align: center;
		 margin-bottom: 5%;
		 color: #fff;
	}
	 .footer_heading {
		 margin-top: 10%;
	}
	 .see_all {
		 text-align: end;
	}
	 .our_services_text1 {
		 font-family: Minion Pro;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 24px;
		 line-height: 29px;
		 text-align: center;
		 color: #fff;
	}
	 .see_all1 {
		 margin-top: 5%;
	}
}
 @media (min-width: 768px) and (max-width: 1024px) {
	 .service_text {
		 font-family: Minion Pro;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 18px;
		 display: inline-block;
		 vertical-align: middle;
		 line-height: normal;
		 color: #fff;
	}
	 .menu_text {
		 text-decoration: none;
		 margin-right: 20px;
		 font-family: Minion Pro;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 14px;
		 line-height: 22px;
		 color: #f3e900;
	}
	 .search_text {
		 margin-right: 15px;
	}
	 .collection_text {
		 font-family: Minion Pro;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 25px;
		 line-height: 23px;
		 text-align: center;
		 margin-top: 10%;
		 color: #fff;
	}
	 .view_collection_text {
		 font-family: Minion Pro;
		 margin-top: 20px;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 18px;
		 line-height: 29px;
		 color: #000;
		 background-color: white;
		 border-radius: 8px;
		 text-decoration: none;
		 padding: 10px 30px 10px 30px;
		 border: none;
	}
	 .text {
		 font-family: Montserrat;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 14px;
		 line-height: 23px;
		 text-align: center;
		 margin-top: 2%;
		 color: #fff;
	}
	 .text1 {
		 font-family: Montserrat;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 14px;
		 line-height: 23px;
		 text-align: center;
		 margin-bottom: 5%;
		 color: #fff;
	}
	 .footer_heading {
		 margin-top: 10%;
	}
	 .see_all {
		 text-align: center;
	}
	 .addTestmonial {
		 text-align: center;
	}
	 .our_services_text1 {
		 font-family: Minion Pro;
		 font-style: normal;
		 font-weight: bold;
		 font-size: 24px;
		 line-height: 29px;
		 text-align: center;
		 color: #fff;
	}
	 .see_all1 {
		 margin-top: 5%;
	}
}
 
